/*Font family
font-family: 'Playfair Display', serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Inconsolata', monospace;
*/
/*Common start*/
body{
	margin: 0;
	padding: 0;
	font-family: 'Playfair Display', serif;
	font-size: 16px;
	font-weight: 400;
	color: #626262;
}
/*Common end*/

/*Header start*/
header{
	padding: 25px 0;
}
.container{
	margin: 0 auto;
	width: 90%;
	overflow: hidden;
	/*border: 1px solid red;*/
}
.logo{
	margin-top: 11px;
	width: 12%;
	float: left;
	/*border: 1px solid black;*/
}
.logo img{
	width: 100%;
}
.menu{
	width: 70%;
	float: right;
	/*border: 1px solid black;*/
}
.menu ul{
	float: right;
}
.menu ul li{
	list-style: none;
	float: left;
}
.menu ul li a{
	margin: 0 60px;
	padding: 1px 2px;
	display: inline-block;
	color: #626262;
	text-decoration: none;
	text-transform: uppercase;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}
.menu ul li:last-child a{
	margin-right: 0;
}
.menu ul li a:hover{
	border-top: 1px solid #626262;
	border-bottom: 1px solid #626262;
}
/*Header end*/